#about {
    background-color: #1e1e1e;
}
#about .yo {
    filter: drop-shadow(2px 4px 6px black);
    transition-duration: .3s;
}
#about .yo:hover {
    transform: scale(1.1);
}

#about h6 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}
#about h6 span {
    font-weight: 600;
    color: #f1b430;
}
#about p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
}
#about table {
    margin-top: 40px;
}
#about table td {
    width: 50%;
    background-color: transparent;
}
#about table td h5 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
#about table td h6 {
    font-size: 18px;
    font-weight: 400;
    color: #f1b430;
    text-align: center;
    margin: 10px 0 20px 0;
}
#about table td h6 a {
    font-size: 18px;
    font-weight: 400;
    color: #f1b430;
    text-align: center;
    text-decoration: none;
}
#about ul {
    display: flex;
    justify-content: center;
}
#about ul li {
    margin: 0 10px;
}
#about ul li a img {
    height: 40px;
    filter: invert(1);
    transition-duration: .3s;
}
#about ul li a img:hover {
    transform: scale(1.1);
}



@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
    #about .yo {
        max-width: 300px;
        margin-bottom: 40px;
    }
}
@media (max-width: 768px) {}
@media (max-width: 576px) {
    #about .yo {
        max-width: 200px;
    }
    #about h6 {
        font-size: 18px;
        text-align: center;
    }
    #about p {
        font-size: 14px;
    }
    #about table td h5 {
        font-size: 14px;
    }
    #about table td h6 a {
        font-size: 14px;
    }
    #about table td h6 {
        font-size: 14px;
    }
}


