#skills {
    background-color: #141313;
}
#skills .container-skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}
#skills .container-skills .skill {
    text-align: center;
    background-color: #000;
    border: 2px solid #ffffff1c;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.3s;
}
#skills .container-skills .skill:hover {
    transform: scale(1.05);
}
#skills .container-skills .skill h6 {
    margin-bottom: 10px;
}
#skills .container-skills .skill img {
    filter: grayscale(1);
    transition-duration: 0.3s;
}
#skills .container-skills .skill:hover img {
    filter: inherit;
}



@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
    #skills .container-skills {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}
@media (max-width: 768px) {
    #skills .container-skills {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 576px) {
    #skills .container-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}
